
@using HospitalManagementSystem.Web.Helpers;
@model HospitalManagementSystem.Models.DoctorAppointment
@{
    Layout = "..\\Shared\\_Layout.cshtml";
}
@{
    var lookupDoctorHelper = new LookupHelper();
    lookupDoctorHelper.GetDoctors(Model.DoctorId);

    
    var lookupPatientHelper = new LookupHelper();
    lookupPatientHelper.GetPatients(Model.DoctorId);
}

<div class="panel-top-padding view-panel">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div class="wrapper wrapper-content">
            @using (Html.BeginForm())
            {

                <div class="form-horizontal">
                    @Html.AntiForgeryToken()

                    <h4>Create Patient Visit</h4>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"> </div>
                            <div class="col-md-10">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="">
                                    @if (Model != null && Model.Error != null && !string.IsNullOrWhiteSpace(Model.Error))
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Outcome: </strong> @Model.Error
                                        </div>
                                    }
                                </div>



                                <div class="input-group">
                                    <span class="input-group-addon padding-icon"><i class="fa fa-female"></i><i class="fa fa-male"></i></span>
                                    @Html.DropDownListFor(ui => ui.DoctorId, lookupDoctorHelper.SelectedListItems, new { @class = "form-control", @placeholder = "Doctor" }) <br /> <span class="alert-danger"> @Html.ValidationMessageFor(ui => ui.DoctorId)</span>
                                </div>


                                <div class="input-group">
                                    <span class="input-group-addon padding-icon"><i class="fa fa-female"></i><i class="fa fa-male"></i></span>
                                    @Html.DropDownListFor(ui => ui.PatientId, lookupPatientHelper.SelectedListItems, new { @class = "form-control", @placeholder = "Patient" }) <br /> <span class="alert-danger"> @Html.ValidationMessageFor(ui => ui.PatientId)</span>
                                </div>


                                <div class="input-group">
                                    <span class="input-group-addon padding-icon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(ui => ui.StartDate, new Dictionary<string, object> { { "readonly", "" }, { "class", "date form-control" } })

                                    <span class="alert-danger"> @Html.ValidationMessageFor(ui => ui.StartDate)</span>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary block full-width m-b" value="Create" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

