@model HospitalManagementSystem.Models.Person

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">
                <strong>Pofile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("Profile", "Account"))
                {
                    <div class="form-group">
                        <h2>Profile Details</h2>
                    </div>
                    <br />
                    if (Model != null && !string.IsNullOrWhiteSpace(Model.Error))
                    {
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="alert alert-success" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <strong>Outcome: </strong> @Model.Error
                                </div>
                            </div>
                        </div>
                    }
                    @Html.HiddenFor(ui => ui.Id)
                    @Html.HiddenFor(ui => ui.CreatedById)
                    @Html.HiddenFor(ui => ui.DateCreated)
                    @Html.HiddenFor(ui => ui.ModifiedById)
                    @Html.HiddenFor(ui => ui.DateModified)
                    @Html.HiddenFor(ui => ui.Active)
                    @Html.HiddenFor(ui => ui.UserId)
                    @Html.HiddenFor(ui => ui.PasswordChanged)
                    @Html.HiddenFor(ui => ui.GenderId)
                    @Html.HiddenFor(ui => ui.DateOfBirth)

                    <div class="">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(ui => ui.UserName)
                                @Html.TextBoxFor(ui => ui.UserName, new { @readonly = "readonly", @class = "form-control" }) 
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.UserName)</span>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.Email)
                                <div>@Html.TextBoxFor(ui => ui.Email, new { @class = "form-control" })
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.Email)</span></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.FirstName)
                                <div>@Html.TextBoxFor(ui => ui.FirstName, new { @class = "form-control" }) 
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.FirstName)</span></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.Surname)
                                <div>@Html.TextBoxFor(ui => ui.Surname, new { @class = "form-control" })
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.Surname)</span></div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.Cellphone)
                                <div>
                                    @Html.TextBoxFor(ui => ui.Cellphone, new { @class = "form-control" })
                                    <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.Cellphone)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.TelephoneHome)
                                <div>@Html.TextBoxFor(ui => ui.TelephoneHome, new { @class = "form-control" }) 
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.TelephoneHome)</span></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.TelephoneWork)
                                <div>@Html.TextBoxFor(ui => ui.TelephoneWork, new { @class = "form-control" }) 
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.TelephoneWork)</span></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.ResidentialAddress)
                                <div>@Html.TextAreaFor(ui => ui.ResidentialAddress, 
                                new { @class = "form-control", @rows = "2"}) 
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.ResidentialAddress)</span></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(ui => ui.PostalAddress)
                                <div>@Html.TextAreaFor(ui => ui.PostalAddress, new { @class = "form-control", @rows = "2" })
                                <span class="alert-warning"> @Html.ValidationMessageFor(ui => ui.PostalAddress)</span></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg pull-right" type="submit">Save</button>
                            </div>
                        </div>
                        @*<div class="row">
                            
                        </div>*@
                    </div>
                }
            </div>


        </div>
    </div>
</div>

@*<div class="panel-top-padding view-panel">
    <div class="std-top-padding" style="max-width: 630px;  margin: 0 auto;">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
</div>*@

@*<script>
    $(document).ready(function () {
        $('#myProfile').addClass('active');
    });
</script>*@

